.boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    max-width: 450px;
    max-height: 450px;
    min-width: 450px;
    min-height: 450px;
    border: 1px solid rgb(176 167 167);
    box-shadow: 0px 10px 14px rgb(0 0 0 / 50%);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    visibility: visible;
}

.vacant {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: radial-gradient(#ffffff, rgb(153 149 148));
}

.vacant.blank {
    visibility: hidden;
}

.marble {
    cursor: pointer;
    width: 42px;
    height: 42px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
}

.picked {
    border: 2px solid #10a325;
    box-shadow: 3px 1px 2px #bc9b88;
}

#errorMessage {
    color: red;
    margin: 20px 0 10px 0;
    font-weight: 700;
}

#errorMessage:empty {
    height: 21px;
}

#resetButton {
    width: 120px;
    height: 45px;
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
    background-color: rgb(239 18 18);
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 10px 14px rgb(0 0 0 / 50%);
}